#header {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
  background-color: #ffffff;
}

#header .logo {
  width: 150px;
  height: auto;
}

#header .logo img {
  width: 100%;
  height: auto;
}

#header .input-search {
  width: 40%;
  height: 50px;
  position: relative;
}

#header .input-search input {
  width: 100%;
  height: 100%;
  border: 2px solid #63beeb;
  border-radius: 24px;
  padding-left: 20px;
  padding-right: 45px;
  font-size: 16px;
}

#header .input-search input:focus {
  outline: none;
  border-color: #63beeb;
}

#header .input-search .fa-magnifying-glass {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #63beeb;
  font-size: 20px;
  cursor: pointer;
}

#header #nav {
  display: flex;
  gap: 30px;
  font-size: 18px;
}

#header #nav .nav-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 20px;
}

#header #nav .nav-item > a {
  color: #000;
}

.login {
  display: none;
  position: absolute;
  top: 28px;
  right: 0;
  width: 200px;
  height: 100px;
  background: #fff;
  text-align: end;
  padding: 5px;
}

.login a {
  color: #4e4e4e;
  font-size: 14px;
}

.login a:hover {
  color: #63beeb;
}

.login .tk {
  padding: 0;
  width: 100%;
  border-bottom: 2px solid #a3a2a2;
  padding-bottom: 10px;
}

.nav-item.taikhoan:hover .login {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

#header #nav .nav-item i {
  font-size: 28px;
}

#menu {
  width: 100%;
  height: 50px;
  background-color: #f6f6f6;
  padding: 0 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid #d8dbdf;
}

#menu .here {
  color: #63beeb;
}

#menu ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

#menu a {
  font-size: 14px;
  text-decoration: none;
  color: #4e4e4e;
}

#menu ul li > a:hover {
  color: #63beeb;
}

#subnav {
  width: 100%;
  height: 60px;
  padding: 0 200px;
  display: flex;
  flex-direction: row;
  background-color: #f6f6f6;
  align-items: center;
}

#subnav a {
  text-decoration: none;
  color: #4e4e4e;
}

#subnav a:hover {
  color: #63beeb;
  cursor: pointer;
}

#subnav p span {
  color: #63beeb;
}
