* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

p {
  color: red;
}

#thudo {
  color: red;
}

.mien_bac {
  color: red;
}
.mien_nam {
  color: blue;
}

div p {
  background-color: yellow;
}
