.container {
  width: 100%;
  background: #fff;
  padding: 20px 200px;
  line-height: 1.7;
}

.container h2 {
  margin: 20px 0;
}

.sub-cont {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.thongtin {
  width: 400px;
}

.thongtin p {
  color: #777;
}

.location {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 10px 0;
}

.container .fa-solid {
  font-size: 24px;
  color: #1ba0e2;
}

.lienhe {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ptlienhe {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
}

.sub-ptlh {
  display: flex;
  gap: 12px;
  align-items: center;
}

.formlh {
  width: 100%;
}

.formlh form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.form-items {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-items label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-items span {
  color: red;
}

.form-items input,
.form-items textarea {
  border: 2px solid #eee;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
}

textarea {
  height: 150px;
  resize: vertical;
}

.full-width {
  width: 100%;
}

.form-submit {
  display: flex;
  justify-content: flex-start;
}

.form-submit button {
  width: 200px;
  height: 50px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  color: #fff;
  background: #1ba0e2;
  text-transform: uppercase;
  transition: background 0.3s;
}

.form-submit button:hover {
  background: #1789c2;
  cursor: pointer;
}

.map {
  margin-top: 50px;
  margin-bottom: 25px;
  width: 100%;
}
