.container {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 20px 200px;
  line-height: 1.7;
}

.container h2 {
  margin: 20px 0;
}

.sub-cont {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.thongtin {
  width: 400px;
}

.thongtin p {
  color: #777777;
}

.location {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin: 10px 0;
}

.container .fa-solid {
  font-size: 24px;
  color: #1ba0e2;
}

.lienhe {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ptlienhe {
  display: flex;
  flex-direction: row;
  gap: 200px;
  align-items: center;
}

.sub-ptlh {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.formlh {
  width: 100%;
}

.formlh form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.form-items {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.sub-cont {
  width: 100%;
}

.sub-cont span {
  color: #ff0000;
}

.form-items {
  line-height: 1.2;
}

.form-items input {
  width: 200px;
  height: 36px;
  border: 2px solid #eeeeee;
  padding: 10px;
}

.loinhan {
  display: flex;
  flex-direction: column;
}

.loinhan input {
  width: 100%;
  height: 150px;
  border: 2px solid #eeeeee;
  padding: 10px;
}

.loinhan p {
  margin: 10px 0;
}

.sub-cont button {
  width: 200px;
  height: 50px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  color: #fff;
  background: #1ba0e2;
  text-transform: uppercase;
}

.sub-cont button:hover {
  background: #1789c2;
  cursor: pointer;
}

.map {
  margin-top: 50px;
  margin-bottom: 25px;
  width: 100%;
}
