* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  padding: 10%;
}

#main #container {
  background-color: #ccc;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-radius: 8px;
}

#main .element1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main .element1 .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.element1:hover {
  b {
    color: #0000cc;
    text-decoration: underline;
  }
}

.sales-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sales-status span {
  font-weight: bold;
}

.online,
.offline {
  background-color: #ddd;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #999;
  border-radius: 6px;
}

.online:hover,
.offline:hover {
  background-color: #cce5ff;
  color: #0000cc;
  padding: 5px 10px;
  border: 1px solid #3399ff;
  border-radius: 6px;
}
